<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card footer-card">
          <div class="row">
            <div class="col-lg-6">
              <div class="stat profile" data-aos="fade-up" data-aos-duration="1000">
                <p>Profile Visits</p>
                <h3>8,854</h3>
              </div>
              <div class="stat earnings" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <p>Earnings</p>
                <h3>$683,42</h3>
              </div>
              <div class="stat audience" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                <p>Audience</p>
                <h3>91,310</h3>
              </div>
            </div>
            <div class="col-lg-6">
              <h2 class="title" data-aos="fade-up" data-aos-duration="1000">Start Earning with TheVoice Today</h2>
              <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Join as THEVOICE Contributor, with
                something <br>
                interesting, watch your audience grow, and start to
                <br> earn some money
              </p>
              <a href="#" class="get-started" data-aos="fade-right" data-aos-duration='1000' data-aos-delay="300">Get
                Started <i class="ri-arrow-right-up-line icon"></i></a>
              <div class="shapes-group" data-aos="fade-left" data-aos-duration='1000' data-aos-delay="300">
                <div class="shapes">
                  <div class="shape"></div>
                  <div class="shape"></div>
                  <div class="shape"></div>
                </div>
                <div class="shapes shapes2">
                  <div class="shape"></div>
                  <div class="shape"></div>
                  <div class="shape"></div>
                </div>
                <div class="shapes shapes2">
                  <div class="shape"></div>
                  <div class="shape"></div>
                  <div class="shape"></div>
                </div>
                <div class="shapes shapes2">
                  <div class="shape"></div>
                  <div class="shape"></div>
                  <div class="shape"></div>
                </div>
                <div class="shapes shapes2">
                  <div class="shape"></div>
                  <div class="shape"></div>
                  <div class="shape"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shapes-group group2" data-aos="fade-right" data-aos-duration='1000'>
    <div class="shapes">
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <div class="shapes shapes2">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item" data-aos="fade-up" data-aos-duration='1000'>
      <a class="nav-link active" href="#">About</a>
    </li>
    <li class="nav-item" data-aos="fade-up" data-aos-duration='1000' data-aos-delay="100">
      <a class="nav-link" href="#">Feature</a>
    </li>
    <li class="nav-item" data-aos="fade-up" data-aos-duration='1000' data-aos-delay="150">
      <a class="nav-link" href="#">Downloads</a>
    </li>
    <li class="nav-item" data-aos="fade-up" data-aos-duration='1000' data-aos-delay="200">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item" data-aos="fade-up" data-aos-duration='1000' data-aos-delay="250">
      <a class="nav-link" href="#">Privacy & Terms of Service</a>
    </li>
  </ul>

  <p class="copywrite" data-aos="fade-up" data-aos-duration='1000' data-aos-delay="300">&copy;2022 THEVOICE all right
    reserved</p>
</footer>