<app-nav-bar></app-nav-bar>
<div class="showcase">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <span data-aos="fade-up" data-aos-easing="ease" data-aos-duration="1000">Be TheVoice</span> <img
          src="https://thumbs.dreamstime.com/z/girl-holding-pen-20260731.jpg" alt="" srcset="" data-aos="fade-up"
          data-aos-easing="ease" data-aos-duration="1000"> <span data-aos='fade-up' data-aos-duration="1000">
          Article</span>
        <br>
        <img
          src="https://img.freepik.com/free-photo/close-up-thinking-pretty-elementary-child-school-girl-doing-homework-holding-pen-against-mouth-sitting-home-table-pensive-preschool-kid-reading-paper-book-writing-copybook_482921-3943.jpg?size=626&ext=jpg&ga=GA1.2.1518270500.1644192000"
          alt="" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="1000"> <span data-aos='fade-up'
          data-aos-duration="1000">
          Contributor and</span> <span data-aos-delay="300" data-aos='fade-up' data-aos-duration="1000">earn
          money.</span>
        <small data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1000">Join as THEVOICE Contributor, with
          something <br>
          interesting, watch your audience grow, and start to
          <br> earn some money</small>
      </div>
    </div>
  </div>

  <div class="container stats">
    <div class="row">
      <div class="col-lg-2">
        <div class="count">
          <div class="icon" data-aos="fade-up">
            <i class="ri-line-chart-line"></i>
          </div>
          <div class="content">
            <h3 class="amount" data-aos="fade-up">809m</h3>
            <h4 class="item" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">revenue</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="count">
          <div class="icon" data-aos="fade-up">
            <i class="ri-file-text-line"></i>
          </div>
          <div class="content">
            <h3 class="amount" data-aos="fade-up">120k</h3>
            <h4 class="item" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">article</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="count">
          <div class="icon" data-aos="fade-up">
            <i class="ri-team-line"></i>
          </div>
          <div class="content">
            <h3 class="amount" data-aos="fade-up">8k</h3>
            <h4 class="item" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">contributor</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="circle">
          <i class="ri-arrow-left-down-line icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section section2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos='fade-up' data-aos-duration="1000" data-aos-easing="ease-in-cubic">
        TheVoice is an open platform where readers find dynamic thinking,
        where expert and undiscovered voices can share their writing on any topics.
        <br>
        Join as contributor now
        <span class="line" data-aos="fade-right" data-aos-delay="300"></span>
      </div>
    </div>
  </div>
</section>

<section class="section section3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="title" data-aos="fade-up" data-aos-duration='1000'>What Do You Get by Becoming a Contributor</h2>
        <p>These are the benefit of joining TheVoice as contributor, all of this are free so you won't spend a single
          penny
        </p>

        <a href="#" class="get-started" data-aos="fade-right" data-aos-duration='1000'>Get Started <i
            class="ri-arrow-right-up-line icon"></i></a>

        <div class="shapes-group" data-aos="fade-right" data-aos-duration='1000'>

          <div class="shapes">
            <div class="shape"></div>
            <div class="shape"></div>
            <div class="shape"></div>
          </div>
          <div class="shapes shapes2">
            <div class="shape"></div>
            <div class="shape"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="cards">
          <div class="card" data-aos="fade-up" data-aos-duration='500' data-aos-delay="100">
            <h2 class="figure">01</h2>
            <h3 class="card-title">Weekly Writing Tips</h3>
            <p>You'll get writing tips that we'll send every week, you can read them to improve your writing</p>
          </div>
          <div class="card" data-aos="fade-up" data-aos-duration='500' data-aos-delay="200">
            <h2 class="figure">02</h2>
            <h3 class="card-title">Personalized Dashboard</h3>
            <p>You'll get writing tips that we'll send every week, you can read them to improve your writing</p>
          </div>
          <div class="card" data-aos="fade-up" data-aos-duration='500' data-aos-delay="300">
            <h2 class="figure">03</h2>
            <h3 class="card-title">Personalized Dashboard</h3>
            <p>You'll get writing tips that we'll send every week, you can read them to improve your writing</p>
          </div>
          <div class="card" data-aos="fade-up" data-aos-duration='500' data-aos-delay="400">
            <h2 class="figure">04</h2>
            <h3 class="card-title">Personalized Dashboard</h3>
            <p>You'll get writing tips that we'll send every week, you can read them to improve your writing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section3_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="article" data-aos="fade-up" data-aos-duration='700'>
          <h2 class="title">Write</h2>
          <p class="content">We can shake off everything as we write; our sorrow disappear, our courage is reborn</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="arrows arrow-right" data-aos="fade-up" data-aos-duration='500'>
              <img src="assets/arrow-right.png" alt="">
            </div>
          </div>

          <div class="col-lg-6">

            <div class="article" data-aos="fade-up" data-aos-duration='700'>
              <h2 class="title">Submit</h2>
              <p class="content">After you write your articles we will review them and then you can just wait until we
                publish your article.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">

            <div class="article" data-aos="fade-up" data-aos-duration='700'>
              <h2 class="title">Get Paid</h2>
              <p class="content">Watch your audience grow as your money grows! We pay every single article you post.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="arrows arrow-left" data-aos="fade-up" data-aos-duration='500'>
              <img src="assets/arrow-left.png" alt="">
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-5">
        <div class="card" data-aos="fade-up" data-aos-duration='500' data-aos-delay="100">
          <h2 class="title">How THEVOICE Contributor Works</h2>
          <p>Being THEVOICE contributor is easy, you just need to write articles, not everyday but we recommend you to
            write as often as you can so your audience can grow faster.</p>

          <a href="#" class="get-started" data-aos="fade-right" data-aos-duration='1000'>Get Started <i
              class="ri-arrow-right-up-line icon"></i></a>

          <div class="shapes-group" data-aos="fade-left" data-aos-duration='1000'>

            <div class="shapes">
              <div class="shape"></div>
            </div>
            <div class="shapes shapes2">
              <div class="shape"></div>
              <div class="shape"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mobile">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="title" data-aos="fade-up" data-aos-duration='1000'>Get the Mobile App to Write and Track Down the
          Number</h2>
        <p data-aos="fade-up" data-aos-duration='1000' data-aos-delay="300">THEVOICE contributor App act as the
          replacement of the web version, You can still use the web version, but
          it's way smoother using the App.
        </p>
        <div class="link-group">
          <img src="assets/app-store.png" alt="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/google-play.png" alt="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="phone">
          <img src="assets/smartphone.png" alt="" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>